* {
    margin: 0;
    padding: 0;
}

h1,h2{
    margin-bottom: 0.5em;
}

body{
    margin: 2em;
}

.container{
    flex-wrap: wrap;
    height: 200px;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.item{
    background-color: #eee;
    padding: 20px;
    border: solid #000 2px;
}

.container + h2{
    margin-top: 2em;
}

.flex-start{
    align-content: flex-start;
}

.centered{
    align-content: center;
}

.flex-end{
    align-content: flex-end;
}

.space-between{
    align-content: space-between;
}

.space-around{
    align-content: space-around;
}
