* {
    margin: 0;
    padding: 0;
}

h1,h2{
    margin-bottom: 0.5em;
}

body{
    margin: 2em;
}

.container + h2{
    margin-top: 2em;
}

.container{
    display: flex;
    align-items: flex-start;
    width: 500px;
    height: 250px;
    padding: 1em;
    border: 2px solid blue;
}

.item{
    background-color: #eee;
    padding: 20px;
    border: solid #000 2px;
}

.center{
    align-self: center;
}

.flex-end{
    align-self: flex-end;
}

.baseline{
    align-self: baseline;
}