body{
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 1200;
    margin: 0 auto;
}

i{
    background-color: rgba(192, 192, 192, 0.979);
    padding: 1em;
    border-radius: 100%;
    margin: 10px;
    margin-top: 50px;
}