p.special{
    color: blueviolet;
    font-size: large;
}
#special-div{
    padding: 4px;
    background-color: chocolate;
}
.special1, .special2{
    background-color: beige;
}

input[type="text"].text-input {
    border-color: black;
    padding: 0px;
}