* {
    margin: 0;
    padding: 0;
}

h1,h2{
    margin-bottom: 0.5em;
}

body{
    margin: 2em;
}

.container{
    flex-wrap: wrap;
    align-items: baseline;
    /* height: 200px; */
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.item{
    background-color: #eee;
    padding: 20px;
    border: solid #000 2px;
}

.container + h2{
    margin-top: 2em;
}

.gap-row{
    gap: 2em 0;
}

.gap-col{
    gap: 0 2em;
}