* {
    margin: 0;
    padding: 0;
}

h1,h2{
    margin-bottom: 0.5em;
}

body{
    margin: 2em;
}

.container{
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.item{
    background-color: #eee;
    padding: 20px;
    border: solid #000 2px;
}

.container + h2{
    margin-top: 2em;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reversed{
    flex-wrap: wrap-reverse;
}