* {
    margin: 0;
    padding: 0;
}

h1,h2{
    margin-bottom: 0.5em;
}

body{
    margin: 2em;
}

.container{
    flex-wrap: wrap;
    align-items: flex-start;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.item{
    background-color: #eee;
    padding: 20px;
    border: solid #000 2px;
}

.container + h2{
    margin-top: 2em;
}

.zero .item{
    flex-grow: 0;
}

.one .item{
    flex-grow: 1;
}

.second-child :nth-child(2){
    flex-grow: 1;
}

.prop :nth-child(1) {
    flex-grow: 1;
}
  
.prop :nth-child(2) {
    flex-grow: 2;
}
  
.prop :nth-child(3) {
    flex-grow: 3;
}