body{
    padding-top: 3em;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
}

div{
    padding: 2em;
    border: 1px solid black;
}

.content{
    background: lightblue;
    text-align: center;
    width: 20em;
    height: 3em;
}

.margin{
    background: sandybrown;
}

.border{
background: rgb(250, 213, 180);
}

.padding{
background: lightgreen;
}